.main{
    margin: 30px;
    margin-top: 84px;
    justify-content: center;
}

#readme-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    font-size: 1rem;

    width: 700px;
}

#readme-container ul{
    list-style-type: none;
}

#readme-container a:link{
    text-decoration: none;
}

#readme-container a:hover{
    text-decoration:underline;
}

